body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F0F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.todo_app{
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px #2D2B2B;
    width: 90%;
    max-width: 450px;
}
h1{
    text-align: center;
    text-decoration-line: underline;
}
#tarea_input{
    width: calc(100% - 85px); /*Calcula el espacio para el boton */
    padding: 4px;
    margin-right: 2px;
    border-radius: 5px;
    border: 1px solid #5D5A5A;
}
#agregarTarea{
    background-color: #1313B7;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#agregarTarea:hover{
    background-color: #0C0C8D;
}
#tareaLista{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
/*Creamos los estilos de cada elemento de la lista*/
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-left: 5px solid #0C0C8D;
    transition: all 0.3s ease;
}
.task-item span{
    flex-grow:1;
    margin-right: 10px;
    font-size:1em;
}
/*tarea completada*/
.task-item.completed{
    background-color: #F0F8FF;
    border-left: 5px solid #19A314;
    opacity: 0.8;
}
.task-item.completed span{
    text-decoration: line-through;
    color: #888;
}
.task-item button{
    border: none;
    padding:8px;
    margin-left: 5px;
    border-radius: 4px;
    font-weight:bold;
    line-height: 1;
}
.completed-btn{
    background-color: #19A314;
    color: #FFFFFF;
}
.completed-btn:hover{
    background-color: #158E11;
}
.delete-btn{
    background-color: #F91313;
    color: #FFFFFF;
}
.delete-btn:hover{
    background-color: #B31212;
}
